html,body {
	background-color:#FC9;
	}

h1 {
  color:#F00;
  text-align: center;
  text-decoration:underline;
   }	
   
h2 {
  color: blue;
  text-align: center;
  font-size: 15px;
  
   }	
   
p {
	font-style: italic;
	}

p#l1{
	color:#F60;
}

p#l2{
	color:#C00;
}

p.l3{
	color:#F60;
	text-decoration:underline;
}

p.l4{
	color:#C00;
	text-decoration:underline;
}

