html,body {
	background-color: pink;
	}

h1 {
  color: red;
  text-align: center;
  text-decoration:underline;
   }	
   
h2 {
  color: blue;
  text-align: center;
  font-size: 15px;
  
   }	
   
p {
	font-style: italic;
	}

p#l1{
	color: red;
}

p.l2{
	color: brown;
	text-decoration:underline;
}

