body,table {
	background-color:navajowhite;
	}
#aa{
	background-color:mistyrose;
	}	
#a1{
	background-color:mistyrose;
	}
	
.mon{
	background-color :#FF0;
	}
.tue{
	background-color :#F3C;
	}
.wed{
	background-color :#6F0;
	}
.thu{
	background-color :#F90;
	}
.fri{
	background-color :#06F;
	}
.sat{
	background-color :#C09;
	}
.sun{
	background-color :#F00;
	}
